*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation styles*/
.header{
    background-color: antiquewhite;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom , left;
    padding:20px; 
}
.image{
    margin-left: 500px;
    margin-bottom: -20px;
}
nav{
    display: flex;
    justify-content: space-between;
   padding: 50px 200px;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 100px;
}
.nav-title{
    font-weight: 700 ;
    font-size: 50px;
}
.text-primary{
    color: orange;
}
.resume-btn{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.btn-primary{
    height: 40px;
    border: 0;
    border-radius: 3px; 
    padding: 5px 30px;
    background-color: orange; 
    /* color: white; */
    font-size: 20px;
    font-weight: 700;
}
/* banner styles */

.banner{
    display: flex;
    align-items: center;
    margin: 0 200px; 
     
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
}
.banner-description{
    color: gray;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top:130px ;
}
/* about---section */
.about{
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}
.section-description{
    color: gray;
    font-size: 16;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 18px;
    color: gray;
}
.info-description{
    font-weight: 700;
    font-size: 18px;
}
/* what i do style */
.what-i-do{
    margin-top:80px ;
    text-align: center;
    font-size: 22px;
}
.what-do-description{
    font-size: 14px;
    padding-bottom: 35PX;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    color: azure;
    box-shadow: 0 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
.skill-description{
    font-size: 13px;
    color: gray;
}
/* resume style */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: rgba(29, 28, 28, 0.973);
    margin-bottom: 10px;
}
.resume .sub-title{
    color: gray;
    font-weight: 600;
    font-size: 16px;
}
.description{
    color: gray;
    font-size: 12px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* contact style */
.contact{
    display: flex;
    gap: 100px;
    background-color: antiquewhite;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"],input[type="email"] , textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 40px;
}
.contact a{
    text-decoration: none;
    word-spacing: 18px;
}